# files
Makefile
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
cmake.h
commit.h
.cache
compile_commands.json
install_manifest.txt
# file extensions
*.cpp.o
*.a
*.cmake
# directories
/doc/man/
/package-config/osx/binary/task
/_deps/
/build/
/cargo/build/
/target/
/corrosion/
